fieldset {
    background-color: yellow;
}

input:disabled {
    background-color: red;
}

fieldset input {
    background-color: green;
}

input:hover, input:focus {
    background-color: white;
}

fieldset:hover::first-letter{
    background-color: blue;
}

